@media only screen and (max-width: 1024px) {

  .slick-next:before, .slick-prev:before {
    font-size: 40px;
  }

  .image-container {
    flex-wrap: wrap;
    padding-right: 210px;
  }

  .image {
    margin-top: 20px;
  }

  .text-container {
    flex-wrap: wrap;
  }

  .list {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 320px) {

  .slick-prev:before,
  .slick-next:before {
    display: none;
  }

  .sl-text {
    display: none;
  }

  .search-form {
    width: 85px;
  }

  .text-container {
    margin-right: 35px;
    margin-left: 35px;
  }

  .item {
    width: 15%;
    overflow: hidden;
  }

  #textarea-input {
    width: 250px;
  }
}