.carousel-caption {
	bottom: 10%;
}

.carousel-inner h3 {
	font-size: 20px;
	padding: 15px;
}

.carousel-inner p {
	font-size: 16px;
	padding: 10px;
}

@media all and (max-width: 768px) {
	.sidebar {
		display: none;
	}

	h1 {
		margin-left: 10px;
	}

	.header-top {
	text-align: left;
	}

	.contant,
	.wrapper {
		width: 100%;
	}

	.carousel-caption {
		bottom: 25%;
	}
	.carousel-inner h3 {
		font-size: 18px;
	}
	.carousel-inner p {
		font-size: 14px;
	}
}

@media all and (max-width: 600px) {
	.carousel-inner h3,
	.carousel-inner p {
		display: none;
	}
}

@media all and (max-width: 420px) {

	.main-menu {
	    max-width: 200px;
	    margin: 10px 0 0 15px;
	}

	.main-menu .submenu{
		left: 120px;
		top: 10px;
		z-index: 10;
		background: rgba(35, 31, 32, 0.8);
	}

	h1 {
		float: none;
		text-align: center;

	}

	h1 sub{
		display: none;
	}
}