*\ {
	box-sizing: border-box;
}

html, body {
	background-color: #000;
	font-size: 10px;
	min-height: 100%;
	max-width: 1600px;

}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: #fff;
	height: 11rem;
	width: 100%;
}

ul.header-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 12rem;
	width: 100%;
	height: 70px;
}

.header-menu li {
	width: 15rem;
	text-align: center;
	margin-left: 10px;
}

.header-menu li:nth-child(2) {
	margin-left: auto;
}

.header-menu a {
	text-decoration: none;
	font-size: 1.8rem;
	color: #000;
	font-family: "ComicSans", sans-serif;
	color: #3b3b3b;
}

.header-logo {
	position: relative;
	margin-left: 20rem;
	margin-right: 5rem;
	width: 69px;
	height: 30px;
}

.header-logo::after {
	content: "";
	position: absolute;
	top: 20px;
	left: 60px;
	width: 50px;
	height: 23px;
	background: url("../img/Chili.png") no-repeat;
}

.image-board {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 575px;
	background: url("../img/1.jpg") center center no-repeat;
}


h1 {
	z-index: 2;
	color: #fff;
	font-family: "ManoNegra";
	font-size: 6rem;
}

.main-menu {
	position: relative;
}

.image-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(30, 20, 10, 0.8);
	z-index: 1;
}
.price {
	position: relative;
	border-top: 7px solid #AD0000;
	width: 100%;
	height: 800px;
	background: #fff;
	z-index: 1;
}

.caption {
	position: relative;
	margin: 0 auto;
	width: 0px;
	height: 0px;
	border: 7.5rem solid #AD0000;
	border-bottom-width: 15px; 
	border-bottom-color: #fff;
	text-align: center;
	background-color: #AD0000;
	border-radius: 0px 0px 4px 4px;
}

.caption span {
	display: block;
	width: 10rem;
	position: absolute;
	font-family: "ComicSans", sans-serif;
	font-size: 2.1rem;
	color: #fff;
	top: -55px;
	left: -47px;
}