body, html {
	font-family: "Roboto", sans-serif;
	font-size: 30px;
	color: #55a;
	width: 100%;
	height: 100vh;
}

h1 {
	text-align: center;
}

.todo {
	padding: 0;
	height: 100vh;
	border: 1px solid #55b;
	margin-left: 25%;
}

.todoInput {
	padding: 0;
	padding-left: 30px;
	width: 100%;
	border: none;
	border-bottom: 1px solid #55b;
}

.todoInput:focus {
	border: 1px solid #311;
	box-shadow: 0 0 7px;
}

.todoItem {
	list-style-type: none;
	width: 100%;
	height: 62px;
	margin-top: 2px;
	padding-top: 5px;
	padding-left: 20px;
	border: 1px solid #55b;
}

.disabled {
	display: none;
}