body {
  box-sizing: border-box;
}

h1 {
  color: darkolivegreen;
  text-align: center;
}

.container {
  width: 100%;
  height: 100vh;
}

.find-friends {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 25px;
  font-size: 24px;
}

.container-block {
  display: flex;
}

.block {
  background-color: #fff;
}

.block-left {
  width: 30%;
  height: 100vh;
}

.block-right {
  width: 70%;
  height: 100vh;
}
.block-left .btn {
  display: block;
  margin: 5px;
  width: 100px;
}

.newpost {
  margin-top: 10px;
  border: 1px dotted darkolivegreen;
}

.newtitle {
  display: block;
  width: 50%;
  height: 20px;
  margin: 0 auto;
}

.newdate {
  width: 100px;
  color: darkolivegreen;
  margin-left: auto;
  margin-right: 0;
}

.area {
  display: block;
  min-width: 90%;
  max-width: 90%;
  min-height: 250px;
  margin: 10px auto;
}

.savebutton {
  display: block;
  width: 60px;
  height: 20px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.elem {
  position: relative;
  list-style-type: none;
  min-height: 100px;
  background-color: rgb(204, 245, 204);
  margin: 10px;
}

.head-box {
  font-size: 0;
}

.caption-box {
  display: inline-block;
  width: 80%;
  min-height: 30px;
  margin-bottom: 5px;
  background-color: rgb(132, 197, 132);
  font-size: 20px;
  font-weight: bold;
}

.name-box {
  display: inline-block;
  width: 20%;
  min-height: 30px;
  margin-bottom: 5px;
  background-color: rgb(132, 197, 132);
  font-size: 20px;
  font-weight: bold;
}

.date-box {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 5px;
}

.user-item {
  position: relative;
  width: 200px;
  min-height: 25px;
  line-height: 24px;
  border: 1px solid rgb(132, 197, 132);
  margin-top: 5px;
  list-style-type: none;
  font-size: 24px;
}

.fa-heart {
  position: absolute;
  margin: 5px;
  right: 0;
  bottom: 0;
  cursor: pointer;
  font-size: 14px;
  color: #999;
}

.color {
  color: red;
}

